<div class="field {% if field.errors %}has-error{% endif %} {% if field.field.widget.input_type == 'checkbox' %}check{% endif %} {% if field.widget_type == 'textarea' %}full{% endif %}">
  {% if field.field.widget.input_type == 'checkbox' %}
    {{ field }}<label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="muted" title="Required">*</span>{% endif %}</label>
    {{ field }}
  {% endif %}
  {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
  {% for e in field.errors %}<div class="error-text">{{ e }}</div>{% endfor %}
</div>
